<div class="container">
    <div class="row" *ngIf="produtoDetalhe">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <img src="{{ produtoDetalhe.linkFoto }}" width="100%">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <h3>{{ produtoDetalhe.name }}</h3>
            <p>{{ produtoDetalhe.details }}</p>
            <h4>Preço {{ produtoDetalhe.price | currency: 'BRL'}}</h4>

            <input type="number" [(ngModel)]="quantidade" class="form-control" placeholder="1" value="1" max="100"
                min="1">
            <br>
            <button type="button" (click)="adicionarCarrinho()" class="btn btn-primary">Adicionar ao Carrinho</button>
        </div>
    </div>
</div>