<div class="container">
    <div class="row">
        <div class="col-12">
            <h4>Resultado da busca por: {{keyWord}}</h4>
        </div>
    </div>
    <div class="row mb-3">
        <div *ngFor="let ITEM of lista" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <div class="card">
                <img src="{{ITEM.linkFoto}}" class="card-img-top" alt="{{ ITEM.name }}">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ ITEM.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-center"> {{ ITEM.price | currency: 'BRL'}}</h6>
                    <p class="card-text"> {{ ITEM.details }} </p>
                    <p class="card-text">Categoria: {{ ITEM.category.name }}</p>
                    <a [routerLink]="['/detalhe/', ITEM.productId]" class="btn btn-primary">Eu quero!</a>
                </div>
            </div>
        </div>
    </div>
</div>