<div class="container" *ngIf="idPedido != 0">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Recibo do pedido</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <h3>Pedido numero {{ idPedido }} </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <p>Este é seu comprovante que indica que seu pedido foi recebido.
                Em breve entrarei em contato com você
                para combinar formas de pagamento e também enteder melhor suas necessidade de produtos e possa lhe
                indicar o melhroes produtos.</p>
            <p>Qualquer duvida ou mesmo problema pode entrar em contato cimogi pelas minhas redes sociais ou whatsapp.
            </p>
            <p>Tire print desta tela para ter a garantia de que deu tudo certo!</p>
        </div>
    </div>

</div>