<!--Modal erro de cpf-->
<div class="modal fade" tabindex="-1" id="modalErroCPF">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Erro no formulário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{ mensagemErro }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <button id="btnModal" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalErroCPF">
        Mostrar Erro
    </button>
    <div id="divBusca" class="row">
        <div class="col-xs-8 col-sm-8 col-md-9 col-lg-10 col-xl-10">
            <div class="mb-3">
                <label for="txtCpf" class="form-label">Seu CPF</label>
                <input type="text" class="form-control" id="txtCpf" [(ngModel)]="client.cpf">
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 col-xl-2"> <!-- Corrigido para col -->
            <button type="button" id="btnBuscar" (click)="buscarCpf()" class="btn btn-primary">Buscar</button>
        </div>
        <div id="divDetalhes" *ngIf="visivel">
            <div class="row" *ngIf="!achou">
                <div class="col-12">
                  <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <strong>Bem vinda(o)!</strong> Você é nova(o) por aqui!
                    <button type="button" class="btn-close" (click)="ocultaAlert()" aria-label="Close"></button>
                  </div>
                </div>
              </div>                          
            <div class="mb-3">
                <label for="txtNome" class="form-label">Seu Nome</label>
                <input type="text" class="form-control" id="txtNome" [(ngModel)]="client.name">
            </div>
            <div class="mb-3">
                <label for="txtEmail" class="form-label">Seu E-mail</label>
                <input type="text" class="form-control" id="txtEmail" [(ngModel)]="client.email">
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="mb-3">
                        <label for="txtTelefone" class="form-label">Seu WhatsApp</label>
                        <input type="text" class="form-control" id="txtTelefone" [(ngModel)]="client.phone">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="mb-3">
                        <label for="txtDataNasc" class="form-label">Data de nascimento</label>
                        <input type="date" class="form-control" id="txtDataNasc" [(ngModel)]="client.dateBirth">
                    </div>
                </div>

                <div class="row mb-3" id="divPergunta" *ngIf="exibirPerguntaEndereco">
                    <div class="col-12 mb-3">
                        <h4> Seu endereço {{ msgEndereco }} continua o mesmo? </h4>
                    </div>

                    <div class="col-6">
                        <button type="button" class="btn btn-primary" (click)="ocultarForm()">Sim</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary" (click)="exibirForm()">Não</button>
                    </div>
                </div>

                <div *ngIf="exibirFormEndereco">
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-9 col-lg-10 col-xl-10">
                            <div class="mb-3">
                                <label for="txtCep" class="form-label">CEP</label>
                                <input type="text" class="form-control" id="txtCep" [(ngModel)]="client.cep">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 col-xl-2"> <!-- Corrigido para col -->
                            <button type="button" id="btnCep" class="btn btn-primary" (click)="buscarCEP()">Buscar CEP</button>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="txtLogradouro" class="form-label">Endereço</label>
                        <input type="text" class="form-control" id="txtLogradouro" [(ngModel)]="client.logradouro">
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <div class="mb-3">
                                <label for="txtNumero" class="form-label">Número</label>
                                <input type="text" class="form-control" id="txtNumero" [(ngModel)]="client.numero">
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="mb-3">
                                <label for="txtComplemento" class="form-label">Complemento</label>
                                <input type="text" class="form-control" id="txtComplemento" [(ngModel)]="client.complemento">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <div class="mb-3">
                                <label for="txtBairro" class="form-label">Bairro</label>
                                <input type="text" class="form-control" id="txtBairro" [(ngModel)]="client.bairro">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="txtCidade" class="form-label">Cidade</label>
                                <input type="text" class="form-control" id="txtCidade" [(ngModel)]="client.cidade">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="mb-3">
                                <label for="txtEstado" class="form-label">UF</label>
                                <input type="text" class="form-control" id="txtEstado" [(ngModel)]="client.estado">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="txtObservacoes" class="form-label">Observações do Pedido</label>
                    <input type="text" class="form-control" [(ngModel)]="order.comments" id="txtObservacoes">
                </div>
                <div class="row mb-3" *ngIf="!exibirPerguntaEndereco">
                    <div class="col-12 text-center">
                        <button type="button" class="btn btn-primary" (click)="finalizarPedido()">Finalizar Pedido</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
