<div class="container-fluid" id="rodape">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center" id="coluna1">
            <h4>Revenda Produtos</h4>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center" id="coluna2">
            <h6>Entre em contato:</h6>
            <p><i class="fa-brands fa-whatsapp"></i>(11)98765-4321 </p>
            <p><i class="fa-solid fa-earth-americas fa-lg"></i> wwww.martastore.com.br</p>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center" id="coluna3">
            <h6>Siga nas redes sociais</h6>
            <p><i class="fa-brands fa-instagram"> @martastore</i></p>
            <p><i class="fa-solid fa-hashtag"></i> martastore</p>
        </div>

    </div>

</div>